table { background-color: whitesmoke; margin-top: 50px; }

table th, table td { white-space: nowrap; }

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background: rgb(114,190,114);
  background: linear-gradient(145deg, rgba(114,190,114,1) 50%, rgba(45,253,142,1) 100%);
}
