.jumbotron2 {
    Background-color: #ffffff;
    margin-top: 15px;
    padding: 20px;
}
p {
    Background-color: #ffffff;
    color: black;
    Font-family: Roboto, sans-serif;
    Font-size: 19px;
    margin: 50px;
    padding-top: 20px;
}