.FAQ-container{
    height: 100%;
    background-color: white;
    margin: 25px auto auto;
    padding: 25px;
}

.title-text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: white;
    font-size: 30px;
}