.student-progress-profile{
    padding: 25px 50px 25px;
    margin-top: 25px;
}

.hours-table{
    height: 400px;
    overflow: auto;
}

.hours-table table{
    background-color: whitesmoke;
}

.welcome-text{
    font-size: 30px;
}

.approved-hours{
    font-size: 28px;
    color: green;
}

.pending-hours{
    font-size: 28px;
    color: orange;
}

.progress-bar{
    align-items: center;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

a {
    float: left;
}