.student-progress-profile{
    padding: 25px 50px 25px;
    margin-top: 25px;
}

.user-pic{
    padding-top: 25px;
    padding-left: 25px;
}

.welcome-text{
    margin-right: 20px;
    padding-top: 25px;
    font-size: 34px;
}

.approved-hours{
    padding-top: 28px;
    font-size: 28px;
    color: green;
}

.pending-hours{
    font-size: 28px;
    color: orange;
}

.progress-container{
    margin-top: 25px;
    margin-bottom: 25px;
}

div.btn-group {
    margin: 0 auto;
    text-align: center;
    width: inherit;
    display: inline-block;
}

a {
    float: left;
}