{% extends 'student_base.html' %}
{% block body %}

    <div class="flex flex-col p-16 ">
        <form method="post" class="bg-blue-700 flex p-8 justify-center">{% csrf_token %}
            <div class="font-medium text-2xl">
                {% for field in form %}
                    <div class="fieldWrapper text-white flex">
                        {{ field.errors }}
                        {{ field.label_tag }}

                        <span class="text-black ml-2">
                            {{ field }}</span>
                    </div>

                {% endfor %}
            </div>
            <input type="submit" value="Save" class=" ml-10 bg-blue-500 hover:bg-blue-200 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        </form>
        <table class="table-fixed bg-white text-center">
            <thead>
                <tr>
                    <th class="w-1/2 p-6 bg-gray-300 w-1/6">Email</th>
                    <th class="w-1/2 p-6 bg-gray-300 w-1/6">Role</th>
                    <th class="w-1/4 p-6 bg-gray-300 ">Refferal Code</th>
                    <th class="w-1/4 p-6 bg-gray-300 w-1/6 ">Is Used</th>
                </tr>
            </thead>
            <tbody>
                {% for referral in referrals %}
                    <tr class="hover:bg-gray-300 ">
                        <td class="border p-6">{{referral.email}}</td>
                        <td class="border p-6">{{referral.get_role_display}}</td>
                        <td class="border p-6">{{ referral.code }}</td>
                        <td class="border p-6">{% if referral.is_used %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</div>
