{% load i18n %}  <!--languges -->
{% load static %}
{% load account socialaccount %}
{% load socialaccount %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

<!--this is a library from allauth.. customized code for login<-->


{% get_providers as socialaccount_providers %}

{% block content %}

    <div class="h-screen p-10 text-center w-full">
        <div class="mt-48">
            <h1 class="text-6xl font-bold text-4xl text-red-700 uppercase">{% trans "Sign In" %}</h1>

            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
                <p class="text-2xl">Please sign in with your google account</p>

                <div class="socialaccount_ballot">

                    {% for provider in socialaccount_providers %}
                        <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                            {# {{provider.name}} #}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_hH6hgi8q7m7yw4W-L2cNuhUf4pjUe_05sQ&usqp=CAU0" alt="sign in" class="hover:shadow-lg mt-6 mx-auto rounded-full shadow-md w-1/4"/>
                        </a>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

{% endblock %}
